//en funktion för flexande
@mixin flex($justify, $direction) {
	display: flex;
	justify-content: $justify;
	flex-direction: $direction;
}
//en funktion för resposivitet till bilderna
@mixin responsive() {
	width: 100%;
	height: auto;
}

// en funktion för fina boxar
@mixin niceBox() {
	@include flex(flex-start, column);
	border-radius: 25px;
	border: 2px solid $secondColor;
	background-color: $mainColor;
	padding: 20px;
}
//en funktion för min vanligaste grid värden
@mixin grid() {
	display: grid;
	grid-gap: 10px 20px;
	padding: 20px;
}
