@font-face {
  font-family: myHeadFont;
  src: url(fonts/tomatoes/Tomatoes-O8L8.ttf);
}

body {
  margin: 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin: 0px auto;
}

.baseStyle, header,
footer {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f1ff;
  color: #534d56;
}

.baseStyle h2, header h2, footer h2 {
  margin: 0;
}

h1 {
  font-family: myHeadFont;
}

header,
footer {
  background-color: #decdf5;
  color: #534d56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul,
footer ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header ul li,
footer ul li {
  margin-right: 10px;
}

header h1,
header h2,
footer h1,
footer h2 {
  margin-left: 10px;
}

a:link,
a:visited {
  color: #534d56;
  text-decoration: none;
  cursor: auto;
}

a:hover {
  color: #1b998b;
}

.mainContent {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#textHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#textHome p {
  max-width: 500px;
}

#picHome {
  position: relative;
  margin: 10px;
}

#picHome img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 100%;
}

.portfolioContent {
  margin: 0 auto;
  background-color: #656176;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
}

.portfolioContent .picPortfolio {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.portfolioContent .picPortfolio img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.portfolioContent .textPortfolio {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  background-color: #f8f1ff;
  padding: 10px;
  margin-bottom: 5px;
}

.portfolioContent .textPortfolio p {
  text-align: justify;
}

.educationContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.educationContent h1,
.educationContent h2,
.educationContent h4,
.educationContent p {
  margin-left: 10px;
  margin-right: 10px;
}

.educationContent p {
  text-align: justify;
}

@media all and (max-width: 600px) {
  .mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #textHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px;
  }
  #textHome p {
    display: inline-block;
    text-align: justify;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #picHome img {
    width: 100%;
    height: auto;
  }
  header ul,
  footer ul {
    margin-right: 10px;
  }
  header ul li,
  footer ul li {
    margin-left: 10px;
    margin-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */