@import "./variables";
@import "./mixins";

@font-face {
	font-family: myHeadFont;
	src: url(fonts/tomatoes/Tomatoes-O8L8.ttf);
}

body {
	margin: 0px;
}
.wrapper {
	@include flex(flex-start, column);
	max-width: 1000px;
	margin: 0px auto;
}

.baseStyle {
	font-family: $myFont;
	background-color: $lightColor;
	color: $darkColor;
	h2 {
		margin: 0;
	}
}
h1 {
	font-family: myHeadFont;
}

header,
footer {
	@extend .baseStyle;
	background-color: $mainColor;
	color: $darkColor;
	@include flex(space-between, row);
	align-items: baseline;
	flex-wrap: wrap;
	ul {
		font-weight: bold;
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include flex(space-between, row);
		li {
			margin-right: 10px;
		}
	}
	h1,
	h2 {
		margin-left: 10px;
	}
}

a:link,
a:visited {
	color: $darkColor;
	text-decoration: none;
	cursor: auto;
}
a:hover {
	color: $thirdColor;
}

.mainContent {
	padding-top: 20px;
	padding-bottom: 20px;
	@include flex(center, row);
	align-items: center;
	flex-wrap: wrap;
}
#textHome {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#textHome p {
	max-width: 500px;
}
#picHome {
	position: relative;
	margin: 10px;
}
#picHome img {
	max-width: 300px;
	max-height: 300px;
	border-radius: 100%;
}

.portfolioContent {
	margin: 0 auto;
	background-color: $secondColor;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 3fr;
	.picPortfolio {
		grid-column-start: 2;
		img {
			max-width: 300px;
			@include responsive();
		}
	}
	.textPortfolio {
		grid-column-start: 3;
		grid-column-end: 5;
		background-color: $lightColor;
		padding: 10px;
		margin-bottom: 5px;
		p {
			text-align: justify;
		}
	}
}

.educationContent {
	@include flex(flex-start, column);
	h1,
	h2,
	h4,
	p {
		margin-left: 10px;
		margin-right: 10px;
	}
	p {
		text-align: justify;
	}
}

@media all and (max-width: 600px) {
	.mainContent {
		@include flex(center, row);
		align-items: center;
		flex-wrap: wrap;
		height: fit-content;
	}

	#textHome {
		@include flex(center, column);
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 10px;
	}

	#textHome p {
		display: inline-block;
		text-align: justify;
		height: fit-content;
	}

	#picHome img {
		@include responsive();
	}
	header,
	footer {
		ul {
			margin-right: 10px;
			li {
				margin-left: 10px;
				margin-right: 0px;
			}
		}
	}
}
