@import "./variables";
@import "./mixins";

body {
	margin: 0px;
}
.wrapper {
	@include flex(flex-start, column);
	max-width: 1000px;
	margin: 0px auto;
}

.baseStyle {
	font-family: $myFont;
	background-color: $lightColor;
	color: $darkColor;
}

header,
footer {
	@extend .baseStyle;
	background-color: $mainColor;
	color: $darkColor;
	@include flex(space-between, row);
	align-items: baseline;
	flex-wrap: wrap;
	ul {
		font-weight: bold;
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include flex(space-between, row);
		li {
			margin-right: 10px;
		}
	}
	h1,
	h2 {
		margin-left: 10px;
	}
}

a:link,
a:visited {
	color: $darkColor;
	text-decoration: none;
	cursor: auto;
}
a:hover {
	color: $lightColor;
}

.mainContent {
	@include flex(center, row);
	align-items: center;
	flex-wrap: wrap;
}

#textHome p {
	max-width: 500px;
	height: 300px;
}
#picHome {
	position: relative;
	margin: 10px;
}
#picHome img {
	max-width: 300px;
	max-height: 300px;
	border-radius: 100%;
}

.portfolioContent {
	color: $thirdColor;
}

.educationContent {
	@include flex(flex-start, column);
	h1,
	h2,
	h4,
	p {
		margin-left: 10px;
	}
}

@media all and (max-width: 600px) {
	.mainContent {
		@include flex(center, row);
		align-items: center;
		flex-wrap: wrap;
		height: fit-content;
	}

	#textHome {
		@include flex(center, column);
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 10px;
	}

	#textHome p,
	h2 {
		display: inline-block;
		text-align: justify;
		height: fit-content;
	}

	#picHome img {
		max-width: 300px;
		max-height: 300px;
		border-radius: 100%;
		width: 100%;
		height: auto;
	}
	header,
	footer {
		ul {
			li {
				margin-left: 10px;
				margin-right: 0px;
			}
		}
	}
}
